# Wunabuy Web Staff Portal Environment
# Local Dev: http://localhost:8000/api/v1
# Production: https://api.wunabuy.com/api/v1
VITE_API_URL=http://localhost:8000/api/v1

# Reverb WebSockets
VITE_REVERB_APP_KEY=wunabuy_reverb_key
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http