/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Laravel Storage & Cache
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

# Environment files
.env
.env.backup
.env.production

# Binaries & archives
*.phar
*.zip
.phpunit.result.cache