# Wunabuy Mobile Environment Variables
# For Local Dev (Web / iOS Simulator): http://localhost:8000/api/v1
# For Local Dev (Android Emulator):    http://10.0.2.2:8000/api/v1
# For Physical Device (LAN Wi-Fi):     http://192.168.x.x:8000/api/v1
# For Production:                      https://api.wunabuy.com/api/v1
EXPO_PUBLIC_API_URL=http://localhost:8000/api/v1

EXPO_PUBLIC_REVERB_APP_KEY=wunabuy_reverb_key
EXPO_PUBLIC_REVERB_HOST=localhost
EXPO_PUBLIC_REVERB_PORT=8080
EXPO_PUBLIC_REVERB_SCHEME=http

EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSy...